fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
email-validator
bcrypt
pyjwt
python-multipart
alembic
Pillow
boto3
pytest
pytest-asyncio
httpx
slowapi
limits
python-json-logger>=2.0,<3
rembg[cpu]
google-auth
requests
pgvector
